.list-link {
  margin-right: 0 !important;
}

.materialboxed {
  box-shadow: 5px 5px 10px grey;
}

.pagination li.active {background-color: #00695C; border-radius: 5px; }
.pagination li.active a {color: white !important;}
