{% extends 'core/base.html' %}
{% load static %}
{% block title %}Pedido{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'checkout/checkout.css' %}" />{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="card-panel">
      <h2 class="header">Finalização de Compra</h2>
      <div class="divider"></div><br />
      <div class="row">
        <div class="col s12">
          <p>Seu pedido foi realizado com sucesso</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
