{% extends 'accounts/profile.html' %}
{% load i18n %}
{% block profile %}
  {{ block.super }}
  <a href="{% url 'accounts:edit_password' %}" class="breadcrumb"><span class="teal-text text-darken-4">{% trans 'Edit Password' %}</span></a>
{% endblock %}
{% block profile_content %}
  <div class="row">
    <div class="col s12">
      <h3>{% trans 'Edit Password' %}</h3>
      <form method="post">
        {% csrf_token %}
        {{form.non_field_erros}}
        {% for field in form %}
          <div class="input-field">
            {{field.label_tag}}
            {{field}}
          </div>
          {{field.errors}}
        {% endfor %}
        <button class="waves-effect waves-light btn" type="submit"><i class="fa fa-send-o left"></i>{% trans 'Edit Password' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
