{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}VWE-Commerce{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper black-gradient">
          <a href="{% url 'core:home' %}" class="brand-logo"><i class="fa fa-home"></i>{% trans 'VWE-Commerce' %}</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars md-24"></i></a>
          <ul class="right hide-on-med-and-down">
            <li class="{% block active-products %}{% endblock %}"><a href="{% url 'catalog:product_list' %}"><i class="fa fa-shopping-cart left"></i>{% trans 'Products' %}</a></li>
            <li class="{% block active-category %}{% endblock %}"><a class="dropdown-button" href="#!" data-activates="dropdown">
              <i class="fa fa-list-alt left"></i>{% trans 'Category' %}<i class="fa fa-angle-down right"></i>
            </a></li>
            <li><a href="{% url 'checkout:cart' %}"><i class="fa fa-shopping-cart left"></i>{% trans 'Cart' %}</a></li>
            {% if user.is_authenticated %}
               <li><a href="{% url 'accounts:profile' %}"><i class="fa fa-address-card left"></i>{% trans 'Profile' %}</a></li>
               <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-in left"></i>{% trans 'Logout' %}</a></li>
            {% else %}
               <li><a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in left"></i>{% trans 'Login' %}</a></li>
            {% endif %}
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'catalog:product_list' %}"><i class="fa fa-list-alt left"></i>{% trans 'Products' %}</a></li>
            <li><a href="#contact"><i class="fa fa-phone left"></i>{% trans 'Contact' %}</a></li>
            {% if user.is_authenticated %}
               <li><a href="{% url 'accounts:profile' %}"><i class="fa fa-address-card left"></i>{% trans 'Profile' %}</a></li>
               <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out left"></i>{% trans 'Logout' %}</a></li>
            {% else %}
               <li><a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in left"></i>{% trans 'Login' %}</a></li>
            {% endif %}
          </ul>
        </div>
        <ul id="dropdown" class="dropdown-content">
          {% for category in categories %}
            <li><a href="{{category.get_absolute_url}}">{{category}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {% if messages %}
      {% for message in messages %}
        <div class="card-panel {{message.tags}}">
          <span>{{message}}</span>
        </div>
      {% endfor %}
    {% endif %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="{% static 'core/js/base.js' %}"></script>
  </body>
</html>
