body {
  background-color: #eeeeee;
}

.forget-password:hover {
  color: white;
	text-shadow: 0 0 1px white;
  text-decoration: none;
}

.center-block {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}
