.parallax-container {
  height: 100%;
  width: 100%;
}

.black-gradient {
  background: #555;
  background: -webkit-linear-gradient(to right, black, #555);
  background: -o-linear-gradient(to right, black, #555);
  background: -moz-linear-gradient(to right, black, #555);
  background: linear-gradient(to right, black, #555);
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
nav .brand-logo { padding-left: 10px; }
footer .input-field {color:white;}
footer.page-footer { margin-top: 0; }
p { text-align: justify;}
.copyright { width: 100%; padding-left: 10px; }
.links { margin-right: 10px; }
.btn-floating { top: 18px; }
.icon-block { padding: 0 15px; }
.icon-block .material-icons { font-size: inherit; }
